<Context>
	<Resource 
		name="jdbc/postgresql" 
		auth="Container"
		type="javax.sql.DataSource" 
		maxActive="50" 
		maxIdle="30"
		maxWait="10000" 
		username="user" 
		password="password"
		driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:postgresql://localhost:5432/dies" 
		/>
		<resource-ref>
	<description>Data source</description>
	<res-ref-name>jdbc/postgresql</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
</Context>
